<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.issi.listeners.listenerClass"/>
        <listener class-name="com.issi.listeners.MethodInterceptor"/>  <!--it will execute only sepcified testcase-->
        <listener class-name="com.issi.listeners.AnnotationTransformer"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="D:/Projects/PSMS/src/test/java/com/issi/tests">
        <classes>
            <class name="com.issi.tests.MasterModuleTest">
                <methods><include name="clientTypeTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>